<h1>Welcome to Helochef - Your one stop destination for hiring/ordering food from personal chefs in your city</h1>
<h2>1. Select a location, date and time of your event</h2> 
<h2>2. Select a menu from our top chefs in your city</h2>
<h2>3. Choose either chef at home or the delivery option, make the booking and pay securely online</h2>
<h2>4. We will contact you to confirm the final details and answer any questions</h2>
<h1>Chef at home option:</h1>
<h2>5a. If you choose chef at home, on the day of your event, the chef will arrive approximately 2 hours before the start of service. The chef will bring with them all the ingredients to cook the meal in your kitchen.</h2>
<h2>6a. The chef will serve each dish to you</h2>
<h2>7a. Before Leaving the chef will ensure the kitchen has been cleaned.</h2>
									<h1>OR</h1>
<h1>Delivery option:</h1>
<h2>5b. If you choose the delivery option, your order will be delivered to the address on the date and time mentioned at the time of booking</h2>


